body {
    display: flex;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 30vw 0 30vw;
}

h1 {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 20vw;
    margin: 10vh 20vw 5vh 10vw;
    font-family: sans-serif;
    font-size: 4vw;
}

#calc-container {
    background-color: rgb(199, 216, 247);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 40vw;
    height: 55vh;
    box-shadow: 10px, slategray;
    display: grid;
}

#display {
    height: 10vh;
    width: 40vw;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 10px;
}

#display-input {
    margin: 20px 10vw 10px 10vw;
    color: blue;
    font-size: 20px;
}

#numbers {
    margin: 10px 10px 10px 10px;
}

.number {
    box-shadow: 5px, darkslategray;
    font-size: 5vmin;
    margin-left: 10px;
    margin-bottom: 5px;
}

#operators {
    margin: 10px 10px 10px 10px;
}

.operator {
    box-shadow: 5px, darkslategray;
    font-size: 5vmin;
    margin-left: 10px;
}

#user-controls {
    margin-left: 25vw;
    margin-top: 10px;
}

.user-control {
    box-shadow: 5px, darkslategray;
    font-size: 4vmin;
    margin-left: 5px;
}